<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex">
  <title>Форма авторизации</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://unpkg.com/async-oauth-popup@1.0.3/dist/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.7.0/qs.min.js"></script>
</head>
<style>
  html,body {
    margin: 0;
    height: 100%;
  }
</style>
<body>

  <!-- Это для запуска локально -->
  <script src="assets/jquery-1.10.2.min.js"></script>

  <!-- Код для вставки в тильду -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link href="assets/style.css" rel="stylesheet">
  <script src="assets/jquery.mask.min.js"></script>
  <script src="assets/script.js"></script>
  <script src="assets/jwt-decode.min.js"></script>

  <!-- @NOTE: объявляю шаблоны компонентов через text/x-template https://ru.vuejs.org/v2/guide/components-edge-cases.html#X-Templates -->
  <script type="text/x-template" id="vue-auth-template">  <!-- компонент авторизации -->
    <!-- Успешная авторизация -->
    <div v-if="session" class="auth-form-popup-container auth-form-popup-container-success js-auth-form-popup-container js-auth-form-success">
      <div class="auth-form-popup-heading">Вы успешно авторизованы</div>
      <div class="auth-form-popup-text">
        Сейчас перенаправим вас на страницу <br>подтверждения тарифа
      </div>
      <my-checkbox></my-checkbox>
    </div>
    <!-- Подтверждение кода авторизации -->
    <div v-else-if="isSubmitPhone" class="auth-form-popup-container js-auth-form-popup-container js-auth-form-code">
      <div class="auth-form-popup-heading">Подтверждение</div>
      <form class="auth-form js-auth-form" data-context="code" data-ajax action="ajax/data.php" novalidate>
        <div class="auth-form-popup-text">На указанный вами номер телефона выслана смс с кодом для подтверждения.</div>
        <div class="auth-form-group">
          <div :class="{ '__error': messageError }" class="auth-form-item auth-form-item__code js-auth-form-item">
            <label>
              <input
                v-model="code"
                class="auth-form-item-field js-auth-form-item-field js-auth-form-code-field"
                type="text"
                name="code"
                placeholder="XXXX"
                >
            </label>
            <span v-if="messageError" class="auth-form-item__error">
              <span>{{ messageError }}</span>
            </span>
          </div>
          <div class="auth-form-item auth-form-item__button-code">
            <button
              :disabled="isDisabledCode"
              @click="auth"
              class="auth-form-button js-auth-form-button js-auth-form-code-button"
              >
              Подтвердить
            </button>
          </div>
        </div>
      </form>
      <div class="auth-form-popup-text">
        <button :disabled="replyTime != 30" @click="getCode('reply')" class="auth-form-code-resend">Отправить еще раз</button>
      </div>
      <p v-if="replyTime != 30">Повторная отправка кода через: {{ replyTime }} секунд</p>
    </div>
    <!-- Авторизация -->
    <div v-else class="auth-form-popup-container">
      <div class="auth-form-popup-heading">Войдите или зарегистрируйтесь</div>
        <div class="auth-form js-auth-form" data-context="phone" data-ajax action="ajax/data.php" novalidate>
          <div class="auth-form-container">
            <div class="auth-form-item-title">По номеру телефона</div>
            <div class="auth-form-group">
              <div :class="{ '__error': messageError }" class="auth-form-item auth-form-item__phone">
                <label>
                  <input v-model="phone" class="auth-form-item-field" type="phone" name="phone">
                </label>
                <div v-if="messageError" class="auth-form-item__error">
                  <span>{{ messageError }}</span>
                </div>
              </div>
              <div class="auth-form-item auth-form-item__button">
                <button
                  @click.prevent="getCode"
                  :disabled="isDisabledPhone"
                  class="auth-form-button"
                  >
                  Далее
                </button>
              </div>
              <div class="auth-form-item auth-form-item__checkbox js-auth-form-item">
                <label>
                  <input v-model="agree" class="auth-form-item-field js-auth-form-item-field" type="checkbox" name="agree">
                  <span class="auth-form-item-label">Я даю согласие на обработку моих персональных данных</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="auth-popup-social">
          <div class="auth-form-item-title">Или через соц. сети</div>
          <a href="" @click.prevent="$oauth('fb')"><span class="auth-popup-social-item auth-popup-social-item-fb"></span></a>
          <a href="" @click.prevent="$oauth('vk')"><span class="auth-popup-social-item auth-popup-social-item-vk"></span></a>
          <a href="" ><span class="auth-popup-social-item auth-popup-social-item-gl"></span></a>
        </div>
    </div>
  </script>
  <script>
    Vue.component('vue-auth', {
      template: '#vue-auth-template',
      data() {
        return {
          isSubmitPhone: false,
          code: null,
          phone: null,
          session: null,
          disabled: false,
          agree: false,

          messageError: null,

          session: null,

          replyTime: 30,
        };
      },
      computed: {
        isDisabledPhone() {
          return !this.phone || this.convertedPhone.length < 11 || !this.agree || this.disabled;
        },
        isDisabledCode() {
          return !this.code || this.disabled;
        },
        currentSessionId() {
          let token = _.get(this.session, 'auth.token');
          if (!token) {
            return;
          }

          try {
            let jwt = jwt_decode(token);
            return jwt.session_id;
          }
          catch (err) {
            console.error('Unexpected situation: bad jwt token');
          }
        },
        convertedPhone() {
          if (!this.phone) return;
          return this.phone.match(/\d/g).join('');
        },
        $oauthProviders() {
          const protocol = 'http://';
          return {
            vk: {
              ...this.generateProvider.call(this, {
                name: 'vk',
                protocol: protocol,
                baseDomain: 'oauth.vk.com/authorize',
                clientId: '6778060',
                redirectPath: '/index',
                scope: 'email,offline',
              }),
              popupOptions: { width: 580, height: 400 }, // размеры попапа
            },
            fb: {
              ...this.generateProvider.call(this, {
                name: 'fb',
                protocol: protocol,
                baseDomain: 'www.facebook.com/dialog/oauth',
                clientId: '1800751203311629',
                redirectPath: '/index',
                scope: 'public_profile,email',
              }),
              popupOptions: { width: 580, height: 400 },
            },
          };
        },
      },
      methods: {
        async getCode(reply) {
          let vm = this;
          if (!this.phone) return;

          try {
            this.disabled = true;
            await this.$axios.post(`/v1/auth_codes`, {
              msisdn: this.convertedPhone,
            });
            this.isSubmitPhone = true;
          }
          catch(err) {
            console.error(err);
            this.messageError = _.get(err, 'response.data.message') || 'Неизвестная ошибка';
            if (!reply) {
              this.isSubmitPhone = false;
            }
          }
          var timer = setInterval(function() {
            if (vm.replyTime <= 0) {
              clearInterval(timer);
              vm.replyTime = 30;
            }
            else {
              vm.replyTime--;
            }
          }, 1000);
          this.disabled = false;
        },
        
        async auth(provider, popupCode, redirectUri) {
          var auth = {};
          if (popupCode) {
            auth = {
              provider: provider,
              code: popupCode,
              redirect_uri: redirectUri,
            }
          }
          else {
            auth =  {
              msisdn: this.convertedPhone,
              auth_code: this.code,
            }
          }

          try {
            this.disabled = true;
            let response = await this.$axios.post(`/v1/sessions`, {
              ...auth
            });

            this.isSubmitPhone = false;
            this.code = null;

            this.session = response.data;
            Cookies.set('auth', this.session.auth, { expires: 7, path: '/' }); // 7d
            this.$axios.defaults.headers.common['Authorization'] = this.session.auth.token;
            this.$emit('session-update', this.session);
          }
          catch(err) {
            console.error(err);
          }
          this.disabled = false;
        },

        async logout() {
          try {
            await this.$axios.delete(`/v1/sessions/${this.currentSessionId}`);
            this.session = null;
            Cookies.remove('auth');
            delete this.$axios.defaults.headers.common['Authorization'];
            this.$emit('session-update', null);
          }
          catch(err) {
            console.error(err);
          }
        },

        async $oauth(provider) {
          const providerConfig = this.$oauthProviders[provider];
          const oauthPopup = new OAuthPopup(providerConfig.popupUrl, providerConfig.name, providerConfig.popupOptions);

          try {
            var response = await oauthPopup.open(providerConfig.redirectUri); // { code, state }
          }
          catch (err) {
            alert('Не удалось авторизоваться через указанный сервис.');
            throw err;
          }
          
          try {
            this.auth(providerConfig.name, response.code, providerConfig.redirectUri);
          }
          catch (err) {
            alert(err.response.data.message);
            throw err;
          }
        },

        generateUrl({ protocol = 'https://', baseUrl, clientId, redirectPath, display, scope, state }) {
          return baseUrl + '?' + Qs.stringify({
            client_id: clientId,
            redirect_uri: protocol + window.location.host + redirectPath, // куда нас вернёт вк после авторизации. важно, что потом нужно бэку отправить точно такой же redirect_uri (!)
            display: display || 'popup',
            scope: scope || 'email',
          });
        },

        generateProvider({ name, protocol = 'https://', baseDomain, clientId, redirectPath, display, scope, state }) {
          let baseUrl = protocol + baseDomain;
          return {
            name: name,
            popupUrl: this.generateUrl.call(this, { // для открытия попапа
              protocol: protocol,
              baseUrl: baseUrl,
              clientId: clientId,
              redirectPath: redirectPath,
              scope: scope,
              display: display,
              state: state,
            }),
            pageUrl: this.generateUrl.call(this, { // для открытия в новой вкладки
              protocol: protocol,
              baseUrl: baseUrl,
              clientId: clientId,
              redirectPath: redirectPath,
              scope: scope,

              display: display,
              state: state + '&newPage=true',
            }),
            redirectUri: protocol + window.location.host + redirectPath,
            popupOptions: { width: 580, height: 400 },
          };
        }
      },
      async mounted() {
        let auth = Cookies.getJSON('auth');
        if (!auth) return;

        this.$axios.defaults.headers.common['Authorization'] = auth.token;

        try {
          let response = await this.$axios.get(`/v1/profile`);
          this.session = {
            auth: auth,
            user: response.data,
          };
          this.$emit('session-update', this.session);
        }
        catch(err) {
          console.error(err);
        }
      }
    });
  </script>

  <!-- @NOTE: объявляю шаблоны компонентов через text/x-template https://ru.vuejs.org/v2/guide/components-edge-cases.html#X-Templates -->
  <script type="text/x-template" id="vue-offers-template">  <!-- компонент предложений -->
    <div>
      <div>
        <input type="text" v-model="promocode">
        <button @click="getOffers" :disabled="promocode == lastPromocode">Применить</button>
      </div>
      <div class="offers">
        <div v-for="offer in offers">
          <pre>{{JSON.stringify(offer, null, 2)}}</pre>
        </div>
      </div>
    </div>
  </script>
  <script>
    Vue.component('vue-offers', {
      template: '#vue-offers-template',
      data() {
        return {
          promocode: '',
          lastPromocode: '',
          offers: [],
        };
      },
      methods: {
        getOffers() {
          this.lastPromocode = this.promocode;
          return this.$axios.get('/v1/offers');
        },
      },
      mounted() {
        var vm = this;
        this.getOffers().then(function(response) {
          vm.offers = response.data;
        });
      },
    });
  </script>

  <div id="app">
    <div class="auth-layout">
      <div class="auth-form-popup js-auth-form-popup __opened" data-popup="code">
        <div class="auth-form-popup-close js-auth-form-popup-close"></div>
        <vue-auth @session-update="setCurrentSession"></vue-auth>
      </div>
    </div>

    <div class="actions">
      <button class="auth-promo-popup-button js-auth-form-popup-open">Форма авторизации</button>
      <button @click="showOffers">Показать предложения</button>
    </div>

    <div class="offers-layout">
      <vue-offers v-if="offersVisible"></vue-offers>
    </div>
  </div>

  <!--
      Кнопка для открытия попапа через html элемент
      или вызвать событие
      открыть $(document).trigger('auth:popup:open');
      закрыть $(document).trigger('auth:popup:close');
  -->
  <!-- /.Код для вставки в тильду -->

  <!-- @NOTE: инициализирую Vue на элемент с id="app" -->
  <script>
    // регистрирую специальный инстанс аксиоса
    Vue.mixin({
      computed: {
        $axios: () => axios.create({
          baseURL: 'https://bo-staging.viasat.su/api/',
        }),
      }
    });
    var $vue = new Vue({
      el: "#app",
      data() {
        return {
          currentSession: null,
          offersVisible: false,
        };
      },
      methods: {
        setCurrentSession(session) {
          this.currentSession = session;
        },
        showOffers() {
          if (!this.currentSession) return;
          this.offersVisible = true;
        },
      }
    });
  </script>

</body>
</html>
