<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex">
  <title>Форма авторизации</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://unpkg.com/async-oauth-popup@1.0.3/dist/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.7.0/qs.min.js"></script>
</head>
<style>
  html,body {
    margin: 0;
    height: 100%;
  }
</style>
<body>

  <!-- Это для запуска локально -->
  <script src="assets/jquery-1.10.2.min.js"></script>

  <!-- Код для вставки в тильду -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
  <link href="assets/style.css" rel="stylesheet">
  <script src="assets/jquery.mask.min.js"></script>
  <script src="assets/script.js"></script>
  <script src="assets/jwt-decode.min.js"></script>

  <div id="app">
    <div class="auth-layout">
      <div class="auth-form-popup js-auth-form-popup __opened" data-popup="code">
        <div class="auth-form-popup-close js-auth-form-popup-close"></div>

        <!-- Успешная авторизация -->
        <div v-if="authData" class="auth-form-popup-container auth-form-popup-container-success js-auth-form-popup-container js-auth-form-success">
          <div class="auth-form-popup-heading">Вы успешно авторизованы</div>
          <div class="auth-form-popup-text">
            Сейчас перенаправим вас на страницу <br>подтверждения тарифа
          </div>
        </div>
        <!-- Подтверждение кода авторизации -->
        <div v-else-if="isSubmitPhone" class="auth-form-popup-container js-auth-form-popup-container js-auth-form-code">
          <div class="auth-form-popup-heading">Подтверждение</div>
          <form class="auth-form js-auth-form" data-context="code" data-ajax action="ajax/data.php" novalidate>
            <div class="auth-form-popup-text">На указанный вами номер телефона выслана смс с кодом для подтверждения.</div>
            <div class="auth-form-group">
              <div :class="{ '__error': messageError }" class="auth-form-item auth-form-item__code js-auth-form-item">
                <label>
                  <input
                    v-model="code"
                    class="auth-form-item-field js-auth-form-item-field js-auth-form-code-field"
                    type="text"
                    name="code"
                    placeholder="XXXX"
                    >
                </label>
                <span v-if="messageError" class="auth-form-item__error">
                  <span>{{ messageError }}</span>
                </span>
              </div>

              <div class="auth-form-item auth-form-item__button-code">
                <button
                  :disabled="isDisabledCode"
                  @click="auth"
                  class="auth-form-button js-auth-form-button js-auth-form-code-button"
                  >
                  Подтвердить
                </button>
              </div>
            </div>
          </form>
          <div class="auth-form-popup-text">
            <button :disabled="replyTime != 30" @click="getCode('reply')" class="auth-form-code-resend">Отправить еще раз</button>
          </div>
          <p v-if="replyTime != 30">Повторная отправка кода через: {{ replyTime }} секунд</p>
        </div>

        <!-- Авторизация -->
        <div v-else class="auth-form-popup-container">
          <div class="auth-form-popup-heading">Войдите или зарегистрируйтесь</div>
            <div class="auth-form js-auth-form" data-context="phone" data-ajax action="ajax/data.php" novalidate>
              <div class="auth-form-container">
                <div class="auth-form-item-title">По номеру телефона</div>
                <div class="auth-form-group">
                  <div :class="{ '__error': messageError }" class="auth-form-item auth-form-item__phone">
                    <label>
                      <input v-model="phone" class="auth-form-item-field" type="phone" name="phone">
                    </label>
                    <div v-if="messageError" class="auth-form-item__error">
                      <span>{{ messageError }}</span>
                    </div>
                  </div>
                  <div class="auth-form-item auth-form-item__button">
                    <button
                      @click.prevent="getCode"
                      :disabled="isDisabledPhone"
                      class="auth-form-button"
                      >
                      Далее
                    </button>
                  </div>
                  <div class="auth-form-item auth-form-item__checkbox js-auth-form-item">
                    <label>
                      <input v-model="agree" class="auth-form-item-field js-auth-form-item-field" type="checkbox" name="agree">
                      <span class="auth-form-item-label">Я даю согласие на обработку моих персональных данных</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="auth-popup-social">
              <div class="auth-form-item-title">Или через соц. сети</div>
              <a href="" @click.prevent="$oauth('fb')"><span class="auth-popup-social-item auth-popup-social-item-fb"></span></a>
              <a href="" @click.prevent="$oauth('vk')"><span class="auth-popup-social-item auth-popup-social-item-vk"></span></a>
              <a href="" ><span class="auth-popup-social-item auth-popup-social-item-gl"></span></a>
            </div>
        </div>

      </div>

    </div>

    <button v-if="!authData" class="auth-promo-popup-button js-auth-form-popup-open">Форма авторизации</button>
  </div>

  <!--
      Кнопка для открытия попапа через html элемент
      или вызвать событие
      открыть $(document).trigger('auth:popup:open');
      закрыть $(document).trigger('auth:popup:close');
  -->
  <!-- /.Код для вставки в тильду -->

  <script src="assets/components.js"></script>

</body>
</html>
